/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float{
    float: left;
}

h1{
    font-size: 50px;
}

header .topbar{
    height: 80px;
    background-color: #3161e0;
    line-height: 80px;
}

 #logo{
    vertical-align: middle;
 }

.col-1{
    width: 20%;
    text-align: right;
}

.col-2{
    width: 60%;
    text-align: center;
}

.col-2 ul li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}

.col-2 ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.col-3{
    width: 20%;
    text-align: left;
}

.col-3 a{
    text-decoration: none;
    background-color: #fff;
    color: black;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 15px;
}

header .mainbar{
    height: 450px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

header .mainbar .description{
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

header .mainbar .description p{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0;
}

header .mainbar .description a{
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
}

#first-btn{
    background-color: #fff;
    color: black;
}

#second-btn{
    background-color: #000;
    color: #fff;
}

/* Start main */

/* First box and third box */
.box-main{
    height: 500px;
    padding: 40px 0;
    margin: 150px 0;
}

.col-main-big{
    width: 60%;
    text-align: center;
    padding: 20px 0;
}

.col-main-small{
    width: 40%;
    padding: 50px 0;
}

.col-main-small p{
    line-height: 30px;
    font-size: 20px;
    padding: 10px 0;
}
/* Second box */

#box-unique{
    text-align: right;
}

.box-grey{
    background-color: #f6f6f6;
}

/* Last box */

.row-1{
    height: 150px;
    text-align: center;
}
.row-1 p{
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.row-2{
    height: 600px;
    text-align: center;
}
.row-2 img{
    width: 55%;
}
.row-3{
    height: 200px;
    text-align: center;
    padding: 20px 0;
}
.row-3 h2{
    font-size: 30px;
}
.row-3 a{
    text-decoration: none;
    background-color: #8ea1e1;
    padding: 15px 20px;
    color: white;
    border-radius: 20px;
    line-height: 150px;
    vertical-align: middle;
}

/* Start footer */

footer{
    background-color: #23272a;
    height: 600px;
    padding: 50px 0;
}

.footer-text{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.col-footer-main{
    margin-right: 30px;
    width: calc(20% - 30px);
    height: 200px;
    color: white;
}

.col-footer-main img{
    width: 10%;
    padding: 10px 0;
    vertical-align: middle;
}

.loghi *{
    margin: 0 10px;
    padding: 10px 0;
}

.col-footer-main h1{
    font-size: 30px;
    color: #7289da;
}

.col-footer h3{
    color: #7289da;
    padding: 10px 0;
}

.col-footer{
    width: 20%;
    height: 200px;
}

.col-footer ul li{
    list-style-type: none;
    line-height: 30px;
    color: #fff;
}